################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjectEulerProblems/bin/Debug/ProjectEulerProblems.vshost.exe.manifest
/ProjectEulerProblems/bin/Debug/ProjectEulerProblems.vshost.exe.config
/ProjectEulerProblems/bin/Debug/ProjectEulerProblems.vshost.exe
/ProjectEulerProblems/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ProjectEulerProblems/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ProjectEulerProblems/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ProjectEulerProblems/obj/Debug/ProjectEulerProblems.Properties.Resources.resources
/ProjectEulerProblems/obj/Debug/ProjectEulerProblems.Problems.resources
/ProjectEulerProblems/obj/Debug/ProjectEulerProblems.pdb
/ProjectEulerProblems/obj/Debug/ProjectEulerProblems.exe
/ProjectEulerProblems/obj/Debug/ProjectEulerProblems.csprojResolveAssemblyReference.cache
/ProjectEulerProblems/obj/Debug/ProjectEulerProblems.csproj.GenerateResource.Cache
/ProjectEulerProblems/obj/Debug/ProjectEulerProblems.csproj.FileListAbsolute.txt
/ProjectEulerProblems/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ProjectEulerProblems/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/ProjectEulerProblems/obj/Debug
